		<nav class="d-flex justify-content-around" style="margin-left: 100px; margin-right: 100px;">
			<a href="/mercury"> Mercury </a>
			<a href="/venus"> Venus </a>
			<a href="/earth"> Earth </a>

		</nav>

		<hr>