<% include partials/header.ejs %>

	<h1> Venus </h1>
<% include partials/nav.ejs %>
<div class="content">
	Venus looks like a very active planet. It has mountains and volcanoes. Venus is similar in size to Earth. Earth is just a little bit bigger.

Venus is unusual because it spins the opposite direction of Earth and most other planets. And its rotation is very slow. It takes about 243 Earth days to spin around just once. Because it's so close to the sun, a year goes by fast. It takes 225 Earth days for Venus to go all the way around the sun. That means that a day on Venus is a little longer than a year on Venus.

Since the day and year lengths are similar, one day on Venus is not like a day on Earth. Here, the sun rises and sets once each day. But on Venus, the sun rises every 117 Earth days. That means the sun rises two times during each year on Venus, even though it is still the same day on Venus! And because Venus rotates backwards, the sun rises in the west and sets in the east.

Just like Mercury, Venus doesn’t have any moons.
</div>

<img src="/img/venus.jpg" alt="venus picture"/>

<% include partials/footer.ejs %>

